lumen-api
.idea/
base.rsa
base.rsa.pub
.env
.env.prod
.env.local
.env.testing
.env.server.*

*.rsa

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

vendor/